@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hamburger-react{
    position: relative;
    z-index: 5;
    display: none;
}

@media (max-width: 767px) {

    .hamburger-react{
        display: block;
    }

    .navbar-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-wrapper nav{
        position: absolute;
        top:-1.5rem;
        right:-1.5rem;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40px);
        width: 70vw;
        height: 100vh;
        padding-top: 120px;
        padding-left: 32px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    .navbar-wrapper nav a{
        display: inline-flex;
        font-size:16px;
        margin-bottom: 32px;
    }

    .navbar-wrapper nav.navbar-open{
        opacity: 1;
        visibility: visible;
    }
}

.h1{
    @apply text-white font-Bellefair text-[80px] md:text-[150px] uppercase
}

.h2{
    @apply text-white font-Bellefair text-[36px] md:text-[80px] lg:text-[100px] uppercase
}

.h3{
    @apply text-white font-Bellefair text-[24px] md:text-[40px] lg:text-[56px] uppercase
}

.h4{
    @apply text-white font-Bellefair text-base md:text-[24px] lg:text-[32px] uppercase opacity-50
}

.h5{
    @apply text-base text-light font-BarlowCondensed md:text-xl lg:text-[28px]
}

.subtitle{
    @apply text-base text-white font-BarlowCondensed font-normal tracking-[5px] md:text-xl lg:text-[28px] uppercase mb-8 md:mb-[60px] lg:mb-16
}

.subtitle span{
    @apply opacity-25 font-bold mr-7   
}

.subheading-1{
    @apply font-Bellefair text-[20px] text-white uppercase mb-2
}

.subheading-2{
    @apply font-BarlowCondensed text-sm text-light tracking-[2px] uppercase mb-3
}